.vscode/**
.github/**
src/**
test/**
out/**
node_modules/**
web-client/**
scripts/**
!dist/**
!bin/**
*.map
*.ts
*.vsix
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
webpack.config.js
**/*.md
!README.md
!CHANGELOG.md
mbed.txt
megaavr.txt
renesas.txt
sam.txt
samd.txt
