.vscode/**
.github/**
src/**
test/**
out/**
node_modules/**
web-client/**
scripts/**
!dist/**
!bin/**
*.map
*.ts
*.vsix
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
webpack.config.js
**/*.md
!README.md
